Repository DaeguDev/MeowRun, pull requests merged in 2022-06, with the labels that each got.

#176 docs: 배포 관련 배지 추가, 팀 역할 수정, 배너 변경
  readme.md
Labels: document

#177 feat : 플레이어 애니메이션 적용
  unity/Assets/Animation/Player/House_cat.meta
  unity/Assets/Animation/Player/House_cat.overrideController
  unity/Assets/Animation/Player/House_cat.overrideController.meta
  unity/Assets/Animation/Player/Lazy_cat.overrideController
  unity/Assets/Animation/Player/Lazy_cat.overrideController.meta
  unity/Assets/Animation/Player/Modn_cat.overrideController
  unity/Assets/Animation/Player/Modn_cat.overrideController.meta
  unity/Assets/Animation/Player/Nimble_cat.overrideController
  unity/Assets/Animation/Player/Nimble_cat.overrideController.meta
  unity/Assets/Prefabs/players/House_cat.prefab
  unity/Assets/Prefabs/players/House_cat.prefab.meta
  unity/Assets/Prefabs/players/Lazy_cat.prefab
  unity/Assets/Prefabs/players/Lazy_cat.prefab.meta
  unity/Assets/Prefabs/players/Modn_cat.prefab
  unity/Assets/Prefabs/players/Modn_cat.prefab.meta
  unity/Assets/Prefabs/players/Nimble_cat.prefab
  unity/Assets/Prefabs/players/Nimble_cat.prefab.meta
  unity/Assets/Prefabs/players/Player.prefab
  unity/Assets/Prefabs/players/garfield.prefab
  unity/Assets/Prefabs/players/tricolor.prefab
  unity/Assets/Prefabs/players/withFish.prefab
  unity/Assets/Resources/character/Cat_set/Anim_controls/House_cat.controller
  unity/Assets/Resources/character/Cat_set/Anim_controls/Lasy_cat.controller
  unity/Assets/Resources/character/Cat_set/Anim_controls/Modn_cat.controller
  unity/Assets/Resources/character/Cat_set/Anim_controls/Nimble_cat.controller
  unity/Assets/Resources/character/Cat_set/Model/House_cat.fbx.meta
  unity/Assets/Resources/character/Cat_set/Model/Lazy_cat.fbx.meta
  unity/Assets/Resources/character/Cat_set/Model/Modn_cat.fbx.meta
  unity/Assets/Resources/character/Cat_set/Model/Nimble_cat.fbx.meta
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/StageProgressBar.cs
  unity/Assets/Scripts/manager/CameraManager.cs
Labels: feature, unity/c#

#180 feat : 새 캐릭터 모델 CharacterSelect 씬에 전시 및 playScene과 연결 기능 구현
  unity/Assets/Animation/Player/Player.controller
  unity/Assets/Prefabs/players/House_cat.prefab
  unity/Assets/Prefabs/players/Lazy_cat.prefab
  unity/Assets/Prefabs/players/Modn_cat.prefab
  unity/Assets/Prefabs/players/Nimble_cat.prefab
  unity/Assets/Prefabs/players/Player.prefab
  unity/Assets/Resources/character/Cat_set/Model/Modn_cat.fbx.meta
  unity/Assets/Scenes/levels/Development.unity
  unity/Assets/Scenes/views/CharacterSelect.unity
  unity/Assets/Scripts/ActiveCharacters.cs
  unity/Assets/Scripts/ActiveCharacters.cs.meta
  unity/Assets/Scripts/Item/healingCan.cs
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/enemies/E_Difficult.cs
  unity/Assets/Scripts/enemies/E_Easy.cs
  unity/Assets/Scripts/enemies/E_Intermediate.cs
  unity/Assets/Scripts/manager/GameManager.cs
  unity/Assets/Scripts/manager/LifeManager.cs
  unity/Assets/Scripts/score.cs
  unity/Assets/Scripts/screen/CharacterSelection.cs
Labels: feature, unity/c#

#182 refactor : 플레이어 대각선 방향 이동속도 수정
  unity/Assets/Scripts/Player.cs
Labels: unity/c#
