Repository DaeguDev/MeowRun, pull requests merged in 2022-04, with the labels that each got.

#98 feat: 클라이언트 앱 netlify & github action CD 추가
  .github/workflows/deployClient.yml
Labels: web

#99 feat: Svelte 클라이언트 앱 템플릿 추가
  web/client/.gitignore
  web/client/package-lock.json
  web/client/package.json
  web/client/public/favicon.png
  web/client/public/global.css
  web/client/public/index.html
  web/client/rollup.config.js
  web/client/src/App.svelte
  web/client/src/global.d.ts
  web/client/src/main.ts
  web/client/tsconfig.json
Labels: web

#104 feat/client landing page UI 1차
  web/client/public/favicon.png
  web/client/public/global.css
  web/client/public/index.html
  web/client/public/meowRunFavicon.png
  web/client/src/App.svelte
  web/client/src/components/API/url.ts
  web/client/src/components/pages/1_Main_.svelte
  web/client/src/components/pages/2_About_.svelte
  web/client/src/components/pages/3_WhyMeowRun_.svelte
  web/client/src/components/pages/4_How_it_works_.svelte
  web/client/src/components/pages/5_CharacterVote_.svelte
  web/client/src/components/pages/6_LoginForm_.svelte
  web/client/src/components/pages/7_PlayMeowRun_.svelte
  web/client/src/components/partials/common.scss
  web/client/src/components/store/store.ts
  web/client/src/components/sub/Feature.svelte
  web/client/src/components/sub/Footer.svelte
  web/client/src/components/sub/GridContent.svelte
  web/client/src/components/sub/LayoutProvider.svelte
  web/client/src/components/sub/Navigation.svelte
  web/client/src/components/sub/PlayButton.svelte
  web/client/src/components/sub/Vote.svelte
Labels: feature, web

#109 Feat/landing page UI second
  web/client/public/banner/aboutUs.gif
  web/client/public/banner/mainBanner.png
  web/client/public/global.css
  web/client/public/icons/controll.gif
  web/client/public/icons/enemy.gif
  web/client/public/icons/item.gif
  web/client/public/icons/map.gif
  web/client/public/icons/player.gif
  web/client/public/icons/vote.gif
  web/client/src/components/pages/1_Main_.svelte
  web/client/src/components/pages/2_About_.svelte
  web/client/src/components/pages/3_WhyMeowRun_.svelte
  web/client/src/components/pages/4_How_it_works_.svelte
  web/client/src/components/pages/5_CharacterVote_.svelte
  web/client/src/components/pages/7_PlayMeowRun_.svelte
  web/client/src/components/sub/Feature.svelte
  web/client/src/components/sub/Footer.svelte
  web/client/src/components/sub/GridContent.svelte
  web/client/src/components/sub/Navigation.svelte
  web/client/src/components/sub/PlayButton.svelte
  web/client/src/components/sub/Vote.svelte
Labels: feature, web

#106 feat: refreshToken 구현
  web/server/config/corsOption.js
  web/server/config/roleList.js
  web/server/controllers/C_login.js
  web/server/models/M_User.js
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/server.js
Labels: feature, web

#117 docs: netlify 데모 사이트, 프로젝트 디테일 추가
  readme.md
Labels: document

#116 feat: svelte landing page UI third
  web/client/.gitignore
  web/client/package-lock.json
  web/client/package.json
  web/client/public/banner/aboutUs.gif
  web/client/public/banner/daegudev.png
  web/client/public/banner/loginForm.png
  web/client/public/global.css
  web/client/rollup.config.js
  web/client/src/components/API/url.ts
  web/client/src/components/pages/1_Main_.svelte
  web/client/src/components/pages/2_About_.svelte
  web/client/src/components/pages/3_WhyMeowRun_.svelte
  web/client/src/components/pages/4_How_it_works_.svelte
  web/client/src/components/pages/5_CharacterVote_.svelte
  web/client/src/components/pages/6_LoginForm_.svelte
  web/client/src/components/pages/7_PlayMeowRun_.svelte
  web/client/src/components/partials/common.scss
  web/client/src/components/store/store.ts
  web/client/src/components/sub/Footer.svelte
  web/client/src/components/sub/GridContent.svelte
  web/client/src/components/sub/Navigation.svelte
  web/client/src/components/sub/PlayButton.svelte
  web/client/src/components/sub/Vote.svelte
Labels: feature, web

#114 feat : health system
  unity/Assets/Animation/Player/PlayerDie.anim
  unity/Assets/Animation/Player/playerDamaged.anim
  unity/Assets/Prefabs/Player.prefab
  unity/Assets/Scenes/Playground.unity
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/manager/CameraManager.cs
  unity/Assets/Scripts/manager/GameManager.cs
Labels: feature, unity/c#

#119 merge/feat: landing page UI fourth
  web/client/public/index.html
  web/client/src/components/API/url.ts
  web/client/src/components/pages/3_WhyMeowRun_.svelte
  web/client/src/components/pages/4_How_it_works_.svelte
  web/client/src/components/pages/6_LoginForm_.svelte
  web/client/src/components/pages/7_PlayMeowRun_.svelte
  web/client/src/components/partials/common.scss
  web/client/src/components/store/store.ts
  web/client/src/components/sub/Footer.svelte
  web/client/src/components/sub/GridContent.svelte
  web/client/src/components/sub/Navigation.svelte
  web/client/src/components/sub/Vote.svelte
Labels: feature, web

#115 merge/docs: 버그 리포트, To do, Research 템플릿 업데이트
  .github/ISSUE_TEMPLATE/-To-do-.md
  .github/ISSUE_TEMPLATE/-bug-report-.md
  .github/ISSUE_TEMPLATE/-research-.md
Labels: document

#125 merge/feat: add login tabs
  web/client/.netlify/state.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/components/pages/5_CharacterVote_.svelte
  web/client/src/components/pages/6_LoginForm_.svelte
  web/client/src/components/partials/common.scss
  web/client/src/components/store/store.ts
  web/client/src/components/sub/LoginForm.svelte
  web/client/src/components/sub/TabProvider.svelte
  web/client/src/components/sub/UserProfile.svelte
Labels: feature, web

#123 refactor: validator 수정
  web/server/config/corsOption.js
  web/server/controllers/C_login.js
  web/server/middlewares/CheckValidation.js
  web/server/models/M_User.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routers/R_Login.js
Labels: feature, web

#137 feat: admin-bro configuration complete
  web/server/.adminbro/.entry.js
  web/server/admin-bro.d.ts
  web/server/config/AdminOptions.js
  web/server/config/corsOption.js
  web/server/config/dbconn.js
  web/server/config/roleList.js
  web/server/controllers/C_login.js
  web/server/controllers/C_voting.js
  web/server/middlewares/AdminAuth.js
  web/server/middlewares/CheckValidation.js
  web/server/middlewares/M_Logger.js
  web/server/models/M_User.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/server.js
Labels: feature, to do, web
