Repository DaeguDev/MeowRun, pull requests merged in 2022-08, with the labels that each got.

#186 feat : LabelManager 스크립트 생성
  unity/Assets/Scenes/views/CharacterSelect.unity
  unity/Assets/Scripts/manager/GameManager.cs
  unity/Assets/Scripts/manager/LabelManager.cs
  unity/Assets/Scripts/manager/LabelManager.cs.meta
Labels: unity/c#

#188 refactor : player move
  unity/Assets/Prefabs/players/House_cat.prefab
  unity/Assets/Prefabs/players/Lazy_cat.prefab
  unity/Assets/Prefabs/players/Modn_cat.prefab
  unity/Assets/Prefabs/players/Nimble_cat.prefab
  unity/Assets/Prefabs/players/Player.prefab
  unity/Assets/Scripts/Item/Item.cs
  unity/Assets/Scripts/Item/ItemIcon.cs
  unity/Assets/Scripts/Item/coin.cs
  unity/Assets/Scripts/Item/dragon.cs
  unity/Assets/Scripts/Item/skull.cs
  unity/Assets/Scripts/Item/witchHat.cs
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/Player.meta
  unity/Assets/Scripts/Player/Movement.cs
  unity/Assets/Scripts/Player/Movement.cs.meta
  unity/Assets/Scripts/Player/Player.cs
  unity/Assets/Scripts/Player/Player.cs.meta
  unity/Assets/Scripts/Player/PlayerMove.cs
  unity/Assets/Scripts/Player/PlayerMove.cs.meta
  unity/Assets/Scripts/manager/GameManager.cs
  unity/Assets/Scripts/manager/LabelManager.cs
  unity/Assets/Scripts/manager/SoundManager.cs
  unity/Assets/Scripts/screen/CharacterSelection.cs
  unity/Assets/Scripts/screen/StageProgressBar.cs
  unity/Assets/Scripts/screen/StageProgressBar.cs.meta
  unity/Assets/Scripts/screen/score.cs
  unity/Assets/Scripts/screen/score.cs.meta
  unity/Assets/Scripts/util/ReplaceWithPrefab.cs
  unity/Assets/Scripts/util/ReplaceWithPrefab.cs.meta
Labels: unity/c#

#189 feat: add default code reviewer
  .github/CODEOWNERS
Labels: feature

#190 refactor : fix bug
  unity/Assets/Scripts/Player/Player.cs
  unity/Assets/Scripts/Player/PlayerMove.cs
  unity/Assets/Scripts/manager/GameManager.cs
Labels: bug, unity/c#
