Repository DaeguDev/MeowRun, pull requests merged in 2022-05, with the labels that each got.

#158 feat : item 기능 구현
  .gitattributes
  unity/Assets/Materials/terrain/GrassUV01.png
  unity/Assets/Materials/terrain/GrassUV01.png.meta
  unity/Assets/Materials/terrain/GrassUV01_N.png
  unity/Assets/Materials/terrain/GrassUV01_N.png.meta
  unity/Assets/Prefabs/items/can.prefab
  unity/Assets/Prefabs/items/can.prefab.meta
  unity/Assets/Prefabs/items/dragon Variant.prefab
  unity/Assets/Prefabs/items/dragon.prefab
  unity/Assets/Prefabs/items/dragon.prefab.meta
  unity/Assets/Prefabs/items/skull.prefab
  unity/Assets/Prefabs/items/skull.prefab.meta
  unity/Assets/Prefabs/items/witchHat.prefab
  unity/Assets/Prefabs/items/witchHat.prefab.meta
  unity/Assets/Scenes/Playground.unity
  unity/Assets/Scripts/Item.meta
  unity/Assets/Scripts/Item/Item.cs
  unity/Assets/Scripts/Item/Item.cs.meta
  unity/Assets/Scripts/Item/dragon.cs
  unity/Assets/Scripts/Item/dragon.cs.meta
  unity/Assets/Scripts/Item/healingCan.cs
  unity/Assets/Scripts/Item/healingCan.cs.meta
  unity/Assets/Scripts/Item/skull.cs
  unity/Assets/Scripts/Item/skull.cs.meta
  unity/Assets/Scripts/Item/witchHat.cs
  unity/Assets/Scripts/Item/witchHat.cs.meta
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/ReplaceWithPrefab.cs
  unity/Assets/Scripts/ReplaceWithPrefab.cs.meta
  unity/Assets/Scripts/StageProgressBar.cs
  unity/Assets/Scripts/StageProgressBar.cs.meta
  unity/Assets/Scripts/manager/GameManager.cs
Labels: feature, unity/c#

#153 feat: heroku 앱배포
  web/server/.adminjs/.entry.js
  web/server/.gitignore
  web/server/Procfile
  web/server/admin-bro.d.ts
  web/server/config/AdminOptions.js
  web/server/config/config.js
  web/server/config/corsOption.js
  web/server/config/statuscode.js
  web/server/controllers/C_login.js
  web/server/controllers/C_voting.js
  web/server/middlewares/AdminAuth.js
  web/server/middlewares/CheckValidation.js
  web/server/migrations/20220427065518-create-user.js
  web/server/migrations/20220429104824-create-voting.js
  web/server/models/M_User.js
  web/server/models/index.js
  web/server/models/user.js
  web/server/models/voting.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/routers/r_voting.js
  web/server/server.js
Labels: feature, web

#174 docs: 프로젝트 작업 시간 배지 추가, 전체 스케쥴 작성
  readme.md
Labels: document
