Repository DaeguDev/MeowRun, pull requests merged in 2022-03, with the labels that each got.

#14 docs : create -To-do-.md
  .github/ISSUE_TEMPLATE/-To-do-.md
Labels: to do

#10 feat : 3d 맵디자인 및 easy 단계 인공지능 적 추가
  unity/Assets/Assets/map/Terrain.meta
  unity/Assets/Assets/map/Terrain/TerrainData_1a51921e-624d-422e-a749-4663e146f0f4.asset
  unity/Assets/Assets/map/Terrain/TerrainData_1a51921e-624d-422e-a749-4663e146f0f4.asset.meta
  unity/Assets/Assets/map/Terrain/TerrainData_5e6a2c02-3d3b-4dc7-9ce6-fa48448375fb.asset
  unity/Assets/Assets/map/Terrain/TerrainData_5e6a2c02-3d3b-4dc7-9ce6-fa48448375fb.asset.meta
  unity/Assets/Assets/map/Terrain/TerrainData_ad475252-35e2-41a3-91cd-eed3845a6ca8.asset
  unity/Assets/Assets/map/Terrain/TerrainData_ad475252-35e2-41a3-91cd-eed3845a6ca8.asset.meta
  unity/Assets/Assets/map/Terrain/TerrainData_d77864e4-4c50-4eae-88db-ea34f0b82115.asset
  unity/Assets/Assets/map/Terrain/TerrainData_d77864e4-4c50-4eae-88db-ea34f0b82115.asset.meta
  unity/Assets/Assets/map/Terrain/TerrainData_fb2e5b8a-18fc-4669-b5b0-b4d1b7e45a52.asset
  unity/Assets/Assets/map/Terrain/TerrainData_fb2e5b8a-18fc-4669-b5b0-b4d1b7e45a52.asset.meta
  unity/Assets/Assets/map/Terrain/base.asset
  unity/Assets/Assets/map/Terrain/base.asset.meta
  unity/Assets/New Terrain 1.asset
  unity/Assets/New Terrain 1.asset.meta
  unity/Assets/New Terrain.asset
  unity/Assets/New Terrain.asset.meta
  unity/Assets/Prefabs/platform.prefab
  unity/Assets/Prefabs/platform.prefab.meta
  unity/Assets/Prefabs/terrainBase0.prefab
  unity/Assets/Prefabs/terrainBase0.prefab.meta
  unity/Assets/Prefabs/terrainBase1.prefab
  unity/Assets/Prefabs/terrainBase1.prefab.meta
  unity/Assets/Prefabs/terrainBase3.prefab
  unity/Assets/Prefabs/terrainBase3.prefab.meta
  unity/Assets/Scenes/Playground.meta
  unity/Assets/Scenes/Playground.unity
  unity/Assets/Scenes/Playground.unity.meta
  unity/Assets/Scenes/Playground/NavMesh.asset
  unity/Assets/Scenes/Playground/NavMesh.asset.meta
  unity/Assets/Scenes/SampleScene.unity
  unity/Assets/Scenes/test.unity
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/enemies/E_PARENT.cs
  unity/Assets/Scripts/enemies/E_rat.cs
  unity/Packages/manifest.json
  unity/Packages/packages-lock.json
  unity/ProjectSettings/NavMeshAreas.asset
  unity/ProjectSettings/TagManager.asset
Labels: feature

#31 docs: 아키텍처 다이어그램, 기능 구현 테이블 추가
  readme.md
Labels: feature

#29 feat: Intermediate 난이도 enemy 로직 추가
  unity/Assets/Prefabs/newAgentRoutes.prefab
  unity/Assets/Prefabs/newAgentRoutes.prefab.meta
  unity/Assets/Prefabs/newParticleSystemBackup.prefab
  unity/Assets/Prefabs/newParticleSystemBackup.prefab.meta
  unity/Assets/Prefabs/projectile.prefab
  unity/Assets/Prefabs/projectile.prefab.meta
  unity/Assets/Prefabs/snake Variant.prefab
  unity/Assets/Prefabs/snake Variant.prefab.meta
  unity/Assets/Scripts/enemies/E_Difficult.cs
  unity/Assets/Scripts/enemies/E_Difficult.cs.meta
  unity/Assets/Scripts/enemies/E_Easy.cs
  unity/Assets/Scripts/enemies/E_Easy.cs.meta
  unity/Assets/Scripts/enemies/E_Intermediate.cs
  unity/Assets/Scripts/enemies/E_Intermediate.cs.meta
  unity/Assets/Scripts/enemies/E_PARENT.cs
  unity/Assets/Scripts/enemies/E_alien.cs
  unity/Assets/Scripts/enemies/E_alien.cs.meta
  unity/Assets/Scripts/enemies/E_alienWithHelmet.cs
  unity/Assets/Scripts/enemies/E_balls.cs
  unity/Assets/Scripts/enemies/E_bee.cs
  unity/Assets/Scripts/enemies/E_bee.cs.meta
  unity/Assets/Scripts/enemies/E_frog.cs
  unity/Assets/Scripts/enemies/E_snake.cs
  unity/Assets/Scripts/enemies/E_snake.cs.meta
  unity/Assets/Scripts/enemies/E_spider.cs
  unity/Assets/Scripts/enemies/E_spider.cs.meta
Labels: feature, unity/c#

#36 feat: MVC 패턴 Express 서버 앱 추가
  web/server/.gitignore
  web/server/apis/A_Character.js
  web/server/controllers/C_login.js
  web/server/middlewares/M_Logger.js
  web/server/models/M_User.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/server.js
Labels: feature

#44 Docs/add readme banner pr template
  .github/pull_request_template.md
  readme.md
Labels: document

#51 feat: 서버기본세팅 및 UserInfo함수구현
  web/server/config/dbconn.js
  web/server/controllers/C_login.js
  web/server/models/M_User.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/server.js
Labels: feature, web

#71 feat: 맵 디자인 portal effect 추가
  unity/Assets/Materials/portal/blue-portal.png
  unity/Assets/Materials/portal/blue-portal.png.meta
  unity/Assets/Materials/portal/portal.mat
  unity/Assets/Materials/portal/portal.mat.meta
  unity/Assets/Prefabs/portal.prefab
  unity/Assets/Prefabs/portal.prefab.meta
Labels: feature, unity/c#

#78 feat: 맵 아이템, 플랫폼, 지형 질감 추가
  unity/Assets/Materials/terrain/.gitattributes
  unity/Assets/Materials/terrain/GrassUV01.png
  unity/Assets/Materials/terrain/GrassUV01.png.meta
  unity/Assets/Materials/terrain/GrassUV01_N.png
  unity/Assets/Materials/terrain/GrassUV01_N.png.meta
  unity/Assets/Materials/terrain/GroundCracked01.png
  unity/Assets/Materials/terrain/GroundCracked01.png.meta
  unity/Assets/Materials/terrain/GroundCracked01_N.png
  unity/Assets/Materials/terrain/GroundCracked01_N.png.meta
  unity/Assets/Materials/terrain/New Terrain 1.asset
  unity/Assets/Materials/terrain/New Terrain 1.asset.meta
  unity/Assets/Materials/terrain/New Terrain.asset
  unity/Assets/Materials/terrain/New Terrain.asset.meta
  unity/Assets/Materials/terrain/NewLayer 1.terrainlayer
  unity/Assets/Materials/terrain/NewLayer 1.terrainlayer.meta
  unity/Assets/Materials/terrain/NewLayer 2.terrainlayer
  unity/Assets/Materials/terrain/NewLayer 2.terrainlayer.meta
  unity/Assets/Materials/terrain/NewLayer.terrainlayer
  unity/Assets/Materials/terrain/NewLayer.terrainlayer.meta
  unity/Assets/Scenes/Playground.unity
  unity/Assets/Scenes/levels/easy.unity
  unity/Assets/Scenes/levels/intermediate.unity
  unity/Assets/Scenes/test.unity
  unity/Assets/Scripts/InitPortal.cs
Labels: feature, unity/c#

#70 feat: difficult 난이도 enemy 구현
  unity/Assets/Scripts/enemies/E_Difficult.cs
  unity/Assets/Scripts/enemies/E_Intermediate.cs
Labels: feature, unity/c#

#81 bug : BoxCast 착지 인식 오류 수정
  unity/Assets/Materials/New Material 1.mat
  unity/Assets/Materials/New Material 1.mat.meta
  unity/Assets/Materials/Physic Material/slippery.physicMaterial
  unity/Assets/Materials/floor.mat
  unity/Assets/Scenes/levels/easy.unity
  unity/Assets/Scenes/test.unity.meta
  unity/Assets/Scripts/Player.cs
  unity/Assets/Scripts/manager/CameraManager.cs
  unity/ProjectSettings/TagManager.asset
Labels: bug, unity/c#, working-on

#84 feat: HandleLogin 함수구현
  web/server/controllers/C_login.js
  web/server/models/M_User.js
  web/server/package.json
  web/server/routers/R_Login.js
  web/server/server.js
Labels: feature, to do, web
